div {
  text-align: center;
}

table {
  width: 50%;
  margin-top: 25px;
  text-align: left;
  background-color: rgba($color: white, $alpha: 0.18);
  color: black;
}

th, td {
  color: black;
}

button {
  margin: 20px;
}
