#main {
  height: 500px;
  margin: 2px;
  padding: 2px;
}

p {
  color: lightyellow;
  margin: 0;
  padding: 2px;
  font-size: 0.8em;
}

mat-form-field {
  width: 620px;
  margin: 0;
  padding: 2px;
}

input {
  margin: 2px;
  padding: 2px;
}

#buttons {
  text-align: right;
}
